body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity:inherit;
  text-align: center;
}

a{
  color: seashell;
}

nav{
  width: 100%;
  text-align: right;
  padding-right: 20px;
}

nav span{
  color: seashell;
}

header{
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: black;
  border-bottom: 1px solid seashell;
}

.logo{
  display: flex;
  align-items: center;
  padding-left: 10px;

}

.logo img{
  height: 50px;

}


/* Main Content */

.container_one{
  display: flex;
  background-image: url("../images/mission-background.jpg");
  width: 1200px;
  height: 700px;
  align-items: center; /*align items which is the image to be at the center */
  /*justify-content:center; */ /*justify content will be applied if the width is not 100%*/

}

.container_one_content{
  background-color: black;
  width: 1200px;
}

.container_two{
  display: flex;
  flex-direction: row-reverse;
  width: 1000px;
  justify-content: center;

}


.container_two img{
  height: 200px;
  width: 300px;
}
