body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity:inherit;
  text-align: center;
}

a{
  color: seashell;
}

nav{
  width: 100%;
  text-align: right;
  padding-right: 20px;
}

nav span{
  color: seashell;
}

header{
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: black;
  border-bottom: 1px solid seashell;
}

.logo{
  display: flex;
  align-items: center;
  padding-left: 10px;

}

.logo img{
  height: 50px;

}


/* Main Content */

.container_one{
  display: flex;
  background-image: url("../images/mission-background.jpg");
  width: 1200px;
  height: 700px;
  margin: auto;
  align-items: center; /*align items which is the image to be at the center */
  /*justify-content:center; */ /*justify content will be applied if the width is not 100%*/

}

.container_one_content{
  background-color: black;
  width: 1200px;
}

.container_two{
  display: flex;
  justify-content: center;
}

.container_two img{
  height: 200px;
  width: 300px;
  margin: 10px;
}

.container_two h4{
  margin: 10px auto;
}

.container_three{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  display:flex;
  flex-direction: column; /*to make it on top of the boxes since it is the child of container_three it will be align to each other */
  /* this will effect the immediate child which is container_three_location and location_hold*/
  justify-content:center;
  width:1200px;
  height: 500px;
  margin: auto;
}


.container_three_location h2{

  text-align: center;
  margin-bottom: 15px;
}

.location_hold{
  display: flex;
  justify-content: center;
  /*align-items: center;*/

}

.location_hold .Downtown{
  background-color: black;
  opacity: 1px;
  border: 1px solid black;
  margin: 15px 40px;
  width:300px;

}

.location_hold .East_Bayside{
  background-color: black;
  opacity: 1px;
  border: 1px solid black;
  margin: 15px 40px;
  width:300px;

}

.location_hold .Oakdale{
  background-color: black;
  opacity: 1px;
  border: 1px solid black;
  margin: 15px 40px;
  width:300px;

}

.content_four{
  height:200px;
}

footer{
  display:flex;
  justify-content: flex-start;

}

